body 
{
	color: #7F3E44;
/*	background:white ;*/
	font-family:cursive;
	overflow-x: hidden;
  padding-top: 70px;
}

header 
{
  z-index:10000;
  overflow: hidden;
  display: block;
}

footer 
{
  display: block;
}


/*

nav 
{
	position : fixed;
	background-color: #7F3E44;height:45px;width:1270px;
	border-radius: 15%
}

nav ul 
{
  padding: 0px;
}

nav ul li 
{
  display: inline;
}

nav ul li a 
{
  padding: 0 80px;
  color: white;
  text-decoration: none;
}

li 
{ 
	display: inline-block;
}

*/


.manavbar 
{
  background-color:#CC636D;
}

.manavbar a 
{ 
  font-size: 15px;
  font-family: "Dancing Script", cursive;
  text-decoration: none;
}

/*

.manavbar.navbar-default .navbar-nav>li>a 
{
  color: white;
}

*/

@media(min-width:768px) {
  header .container .nav .nav ul li .nav li a . li 
  {
    padding-top: 200px;
    padding-bottom: 100px;
  }
}


#section0 
{
	height: 600px;
	padding-top: 70px;
}

div img 
{
  /*  height: 40px;*/
  border-radius: 10%;
  position: 0 50px;
}

.subtitle 
{
  margin: 0 0 2em 0;
}

.fancy 
{
  line-height: 0.5;
  text-align: center;
}

.fancy span 
{
  display: inline-block;
  position: relative;  
}

.fancy span:before,
.fancy span:after 
{
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #FF7C88;
  border-top: 1px solid #FF7C88;
  top: 0;
  width: 600px;
}

.fancy span:before 
{
  right: 100%;
  margin-right: 15px;
}

.fancy span:after 
{
  left: 100%;
  margin-left: 15px;
}

.amp 
{
  margin: 0 0 0.25em 0;
}

.amp span 
{
  font-size: 0.7em;
}

section img 
{
  border-radius: 10%; color:#FF7C88;  
}

/* titre 1 */;
@media (max-width:322px) {  
  h1.titre  { 
    font-size:20px
    }   
}

@media (min-width:323px) and (max-width:959px) { 
  h1.titre {
    font-size:35px;
      }
}

@media (min-width:960px) and (max-width:1599px) {  
  h1.titre {
  	font-size:60px;
  }
}
@media (min-width:1600px) {  
  h1.titre {
  	font-size:90px;
	  }
} 


h1.titre {
  text-align: center;
  color:#FF7C88;
  font-family:Garamond;
  font-style: italic;
  }


.img-centered {
    margin: 0 auto;
}

/* section 1 */
#section1 {
    text-align: center;
    color: #fff;
    background-color: #F8BBD0;
}

#section1 .container {
    padding-top: 100px;
    padding-bottom: 80px;
}

#section1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#section1 .intro-text .name {
    display: block;
    font-family: sans-serif;
        
}

#section1 .nouveaute .nouveau{
	display: block;
  font-family: sans-serif;
  color: #CC636D;
}

/*
#section1 .intro-text {
    font-size: 1.25em;
    font-weight: 150;
}
*/

#section1 .skills {
    color: #FF7C88;
}



@media (max-width:322px) {  
  #section1 /* .nouveau .name .skills */{ 
    font-size: 20px
    }   
}

@media (min-width:323px) and (max-width:959px) { 
  #section1 /* .nouveau .name .skills */ {
    font-size:30px;
      }
}

@media (min-width:960px) and (max-width:1599px) {  
  #section1 /* .nouveau .name .skills */ {
    font-size:40px;
  }
}
@media (min-width:1600px) {  
  #section1 /* .nouveau .name .skills */ {
    font-size:45px;
    }
} 

/*
@media(min-width:768px) {
    #section1 .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }
  

    #section1 .intro-text .name {
        font-size: 1.5em;
    }

    #section1 .intro-text .skills {
        font-size: 1.75em;
    }
}
*/

/* Portfolio */
@media(min-width:767px) {
  #portfolio {
    margin: 0 0 30px;
    }
  }

@media (min-width:1600px) {
	#portfolio {
		margin: 0 0 50px;
}
}

@media (min-width:960px) and (max-width:1599px) {
	#portfolio {
		margin: 0 0 50px;
}
}


@media (min-width:321px) and (max-width:959px) {
	#portfolio {
		margin: 0 0 15px;
}
}


.col-xs-4 img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}


 /* sous titre */
 .titre2 {
  text-align: center;
}

@media (max-width:322px) {  
  .titre2 #apropos {    
    font-size:10px; 
}   
  }

@media (min-width:323px) and (max-width:959px) { 
    .titre2  #apropos{
      font-size:15px;
    }
}
@media (min-width:960px) and (max-width:1599px) {  
  .titre2 #apropos  {
    font-size:20px;   
  }
}
@media (min-width:1600px) {  
   .titre2 #apropos{
    font-size:25px;
  }
} 

/* fin sous titre */


/* texte apropos */

#apropos {
    color: #fff;
    background: #FCE4EC;
    display: block;
    font-family: sans-serif;
    color: #CC636D;
}

@media (max-width:322px) {  
  .moi  {    
    font-size:15px; 
}   
  }

@media (min-width:323px) and (max-width:959px) { 
    .moi {
      font-size:20px;
    }
}
@media (min-width:960px) and (max-width:1599px) {  
  .moi  {
    font-size:30px;   
  }
}
@media (min-width:1600px) {  
   .moi {
    font-size:35px;
  }
} 